#footer {
    width:100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content:space-around;
    align-items: center;
    }

.footer-logo img {width:80px}
.footer-redes img {width:30px}